*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
}

#navheader, .offcanvas-header, .offcanvas-body {
    background: #011321;
}


.navbar-brand {
    font-weight: 500;
    color:#ffffff;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #0ef;
    position: relative;
}

.nav-link:hover {
    color: #fff;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #fff;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    } 
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

section.content-secondary {
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background: #eef4f7;
    /* font-size: 100px; */
    color: #212020;
    font-weight: 700;
}

.section-start {

}

section:nth-child(odd) {
    background: #eef4f7;
}